.user-info,
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-info {
  position: relative;
  width: 100%;
}

.form {
  padding-top: 30px;
  width: 20%;
  font: 400 16px Arial;
}

.form__input {
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
  border: 2px solid rgb(195, 195, 195);
}

.form__input:focus,
.button:focus {
  border: 2px solid rgba(87, 87, 87, .7);
  border-radius: 0;
  outline-offset: 0;
  outline: none;
}

.form__input-valid {
  border-color: green;
}

.form__input-invalid {
  border-color: red;
}

.button {
  display: block;
  width: 50%;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgb(195, 195, 195);
}

.error {
  position: absolute;
  left: 65%;
  color: rgb(195, 195, 195);
  font: 400 16px Arial;
}

.error__name,
.error__email,
.error__phone {
  display: flex;
  align-items: center;
  height: 33px;
  margin-bottom: 15px;
}